<div class="form-container">
  <h1>シフト追加リクエスト</h1>
  <p class="form-description">追加したいシフトの詳細を入力してください。</p>

  <%= form_with url: shift_addition_path, method: :post, local: true, id: "addition-form" do |form| %>
    <%= form.hidden_field :request_type, value: 'addition' %>

    <div class="form-group">
      <div class="form-row">
        <label for="employee-select" class="form-label">追加シフトを依頼する従業員:</label>
        <%= form.select :employee_id,
            options_for_select(@employees.map { |emp| [emp[:display_name], emp[:id]] }, params[:employee_id]),
            { prompt: "-- 従業員を選択 --" },
            { required: true, id: "employee-select", class: "form-input" } %>
      </div>
      <div class="form-help">
        ※ 追加シフトを依頼する従業員を選択してください
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <label for="shift-date" class="form-label">シフト日付:</label>
        <%= form.date_field :shift_date,
            value: @date,
            required: true,
            id: "shift-date",
            class: "form-input" %>
      </div>
    </div>

    <div class="form-group">
      <div class="form-row">
        <label class="form-label">シフト時間:</label>
        <div class="time-inputs">
          <%= form.time_field :start_time,
              value: @start_time,
              required: true,
              id: "start-time",
              class: "form-input" %>
          <span class="time-separator">～</span>
          <%= form.time_field :end_time,
              value: @end_time,
              required: true,
              id: "end-time",
              class: "form-input" %>
        </div>
      </div>
      <div class="form-help">
        ※ 追加したいシフトの時間を指定してください
      </div>
    </div>

    <div class="form-buttons">
      <%= form.submit "シフト追加を依頼", class: "form-button" %>
      <%= link_to "シフトページに戻る", shifts_path, class: "form-button secondary" %>
    </div>
  <% end %>
</div>

<%= javascript_include_tag "shift_forms" %>
