<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Freee Internship" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <main class="main-content">
      <%= yield %>
    </main>

    <!-- フラッシュメッセージ用のデータ属性 -->
    <% if flash[:success] %>
      <div data-flash-success="<%= j(flash[:success]) %>" style="display: none;"></div>
    <% end %>
    <% if flash[:error] %>
      <div data-flash-error="<%= j(flash[:error]) %>" style="display: none;"></div>
    <% end %>
    <% if flash[:warning] %>
      <div data-flash-warning="<%= j(flash[:warning]) %>" style="display: none;"></div>
    <% end %>
    <% if flash[:info] %>
      <div data-flash-info="<%= j(flash[:info]) %>" style="display: none;"></div>
    <% end %>
    <% if flash[:notice] %>
      <div data-flash-notice="<%= j(flash[:notice]) %>" style="display: none;"></div>
    <% end %>
    <% if flash[:alert] %>
      <div data-flash-alert="<%= j(flash[:alert]) %>" style="display: none;"></div>
    <% end %>
  </body>
</html>
